<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lanou.cn.mapper.ProDetailMapper">
    <select id="getAllDetail" parameterType="map" resultType="map">
        SELECT
        pd.*,pi.prd_name,pwr.w_count,pwr.is_used,ware.w_name
        FROM
        prd_detail AS pd,pro_info AS pi,prodetail_ware_relation AS pwr,ware
#         LEFT JOIN pro_info
#         ON prd_id=pro_info.prd_no
#         LEFT JOIN prodetail_ware_relation
#         ON prd_id=prodetail_ware_relation.prd_no
#         LEFT JOIN ware
#         ON prd_detail.ware_id=ware.w_no
        WHERE pd.prd_dtl_id=pwr.prd_dtl_no AND ware.w_no=pwr.w_no AND pi.prd_no=pwr.prd_no
        <if test="null != prd_name and '' != prd_name">
            and prd_name = #{prd_name}
        </if>
        <if test="null != prd_dtl_name and '' != prd_dtl_name">
            and prd_dtl_name = #{prd_dtl_name}
        </if>

        <if test="null != price_min and '' != price_min">
            and sale_price <![CDATA[ >= ]]> #{price_min}
        </if>
        <if test="null != price_max and '' != price_max">
            and sale_price <![CDATA[ <= ]]> #{price_max}
        </if>
        <if test="null != w_name and '' != w_name">
            and w_name = #{w_name}
        </if>
        <if test="null != count_min and '' != count_min">
            and w_count <![CDATA[ >= ]]> #{count_min}
        </if>
        <if test="null != count_max and '' != count_max">
            and w_count <![CDATA[ <= ]]> #{count_max}
        </if>
        <choose>
            <when test="null != is_used and '' != is_used">
                <choose>

                    <when test='is_used=="n"'>
                        and pwr.is_used = 'n'
                    </when>
                    <otherwise> and pwr.is_used = 'y'</otherwise>
                </choose>
            </when>
            <otherwise>and pwr.is_used = 'y'</otherwise>

        </choose>

        <if test="null != is_used and '' != is_used">
            and pwr.is_used = #{is_used}
        </if>

        order by pd.prd_id


    </select>


    <select id="getOneDetail" parameterType="int" resultType="map">
        SELECT DISTINCT
            pd.*,pwr.w_count,pwr.is_used,ware.w_name,ware.w_no
        FROM
            prd_detail AS pd,pro_info AS pi,prodetail_ware_relation AS pwr,ware
        WHERE
            pd.prd_dtl_id=#{id}
        AND
            pd.prd_dtl_id=pwr.prd_dtl_no
        AND
            ware.w_no=pwr.w_no

    </select>

    <update id="update" parameterType="map">
        UPDATE
                prd_detail AS a,prodetail_ware_relation AS b
        SET
              a.prd_dtl_name=#{prd_dtl_name}
            ,a.img_url=#{img_url},a.sale_price=#{sale_price},b.w_count=#{w_count},
            b.w_no=#{w_no},b.is_used=#{isUsed}
        WHERE
            a.prd_dtl_id=#{prd_dtl_id}
        AND
            a.prd_dtl_id=b.prd_dtl_no

    </update>
</mapper>